@using Chapkhone.Utilities.Pagination
@model PaginatedList<Product>

@{
    Layout = null;
}

@if (Model.Count > 0)
{
    @foreach (var product in Model)
    {
        <div class="product-card">
            <div class="product-card-wrap">
                <div class="product-image" style="background-image: url('@(product.ProductImages?.FirstOrDefault()?.ImageUrl ?? "-")');"></div>
                <div class="card-content">
                    <a asp-controller="Products" asp-action="Details" asp-route-designGroupTitle="@product.DesignGroup.Title" asp-route-title="@product.Title" asp-route-id="@product.Id" class="product-title">@product.Title</a>
                    @if (product.Discount > 0)
                    {
                        <div class="product-discount">
                            <span class="product-price">@product.Price.ToString("N0") تومان</span>
                            <span class="product-discount-value">%@product.Discount</span>
                        </div>
                    }
                    <span class="product-final-price">@product.FinalPrice.ToString("N0") تومان</span>
                </div>
            </div>
            <div class="product-card-action-button">
                <a asp-controller="Products" asp-action="Details" asp-route-designGroupTitle="@product.DesignGroup.Title" asp-route-title="@product.Title" asp-route-id="@product.Id" class="button d-block">مشاهده</a>
            </div>
        </div>
    }
}