@model MainPageVM

@section Styles {
<link rel="stylesheet" href="~/css/home.css" />
}

@if (Model.SiteNotification != null)
{
    <!-- Start Site Notification -->
    <section id="site-notification">
        <div class="container-fluid">
            <div class="banner banner-xl" style="background-image: url('@Model.SiteNotification.ImageUrlXL');"></div>
            <div class="banner banner-lg" style="background-image: url('@Model.SiteNotification.ImageUrlLG');"></div>
            <div class="banner banner-md" style="background-image: url('@Model.SiteNotification.ImageUrlMD');"></div>
            <div class="banner banner-sm" style="background-image: url('@Model.SiteNotification.ImageUrlSM');"></div>
        </div>
    </section>
    <!-- End Site Notification -->
}
@if (Model.SlideShowProducts.Count > 0)
{
    <!-- Start Main Slide Show -->
    <section id="main-slide-show">
        <div class="container-fluid">
            <div class="slides-container">
                <div class="swiper main-swiper">
                    <div class="swiper-wrapper">
                        @foreach (var productImage in Model.SlideShowProducts)
                        {
                            <div class="swiper-slide">
                                <div class="custom-card" style="background-image: url('@productImage.ImageUrl');">
                                    <a asp-controller="Products" asp-action="Details" asp-route-designGroupTitle="@productImage.Product.DesignGroup.Title" asp-route-title="@productImage.Product.Title" asp-route-id="@productImage.Product.Id" class="position-absolute w-100 h-100"></a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Main Slide Show -->
}
@if (Model.NewProducts.Count > 0)
{
    <!-- Start New Products -->
    <section id="new-products">
        <div class="container direction-rtl">
            <h3 class="section-header">جدیدترین محصولات</h3>
            <div class="swiper new-products-swiper">
                <div class="swiper-wrapper py-3">
                    @foreach (var product in Model.NewProducts)
                    {
                        <div class="swiper-slide">
                            <div class="product-card">
                                <div class="product-card-wrap">
                                    <div class="product-image-wrap">
                                        <img src="@(product.ProductImages?.FirstOrDefault(pi => !pi.ShowInSlider)?.ImageUrl ?? string.Empty)" alt="@product.Title">
                                    </div>
                                    <div class="card-content">
                                        <a asp-controller="Products" asp-action="Details" asp-route-designGroupTitle="@product.DesignGroup.Title" asp-route-title="@product.Title" asp-route-id="@product.Id" class="product-title">@product.Title</a>
                                        @if (product.Discount > 0)
                                        {
                                            <div class="product-discount">
                                                <span class="product-price">@product.Price.ToString("N0") تومان</span>
                                                <span class="product-discount-value">%@product.Discount</span>
                                            </div>
                                        }
                                        <span class="product-final-price">@product.FinalPrice.ToString("N0") تومان</span>
                                    </div>
                                </div>
                                <div class="product-card-action-button">
                                    <a asp-controller="Products" asp-action="Details" asp-route-designGroupTitle="@product.DesignGroup.Title.Replace(" ", "-")" asp-route-title="@product.Title.Replace(" ", "-")" asp-route-id="@product.Id" class="button d-block">مشاهده</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- End New Products -->
}
@if (Model.CustomerComments.Count > 0)
{
    <!-- Start Customer Comments -->
    <section id="customer-comments">
        <div class="container direction-rtl">
            <h3 class="section-header">دیدگاه مشتریان</h3>
            <div class="customer-cards-container">
                @foreach (var customerComment in Model.CustomerComments)
                {
                    <div class="customer-comment-card">
                        <div class="customer-image" style="background-image: url('/images/Profile.jpg');"></div>
                        <span class="customer-name">@customerComment.Customer.FullName</span>
                        <div class="customer-comment-wrap">
                            <svg width="512px" height="512px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                <path d="M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z" />
                            </svg>
                            <span class="customer-comment-text">@customerComment.CommentText</span>
                            <svg width="512px" height="512px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                <path d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z" />
                            </svg>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- End Customer Comments -->
}
@if (Model.OurCustomers.Count > 0)
{
    <!-- Start Our Customers -->
    <section id="our-customers">
        <div class="container direction-rtl">
            <h3 class="section-header">مشتریان ما</h3>
            <div class="swiper our-customers-swiper">
                <div class="swiper-wrapper">
                    @foreach (var ourCustomer in Model.OurCustomers)
                    {
                        <div class="swiper-slide">
                            <div class="customer-image">
                                <img src="@ourCustomer.LogoUrl" alt="مشتری ما">
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Customers -->
}
