@model GetOrderDetailsVM

@section Styles {
<link rel="stylesheet" href="~/css/order.css">
}

<!-- Start Order Types Banner -->
<section id="order-type-banner">
    <div class="container">
        <div class="order-type-banner-image" style="background-image: url('@Model.DesignGroupImageUrl');">
        </div>
    </div>
</section>
<!-- End Order Types Banner -->
<!-- Start Order Form -->
<section id="order-form-section" class="direction-rtl">
    <div class="container">
        <form asp-controller="Home" asp-action="AddToCart" asp-antiforgery="true" method="post" enctype="multipart/form-data" id="order-form">
            <input type="hidden" asp-for="DesignGroupId" />
            <input type="hidden" asp-for="ProductId" />
            <h3 class="order-form-title">جزئیات طراحی</h3>
            @if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                <span class="d-block text-danger my-2">@ViewBag.Error</span>
            }
            <div class="row">
                <div class="col-12 col-md-6 custom-input-group">
                    <label asp-for="Title" class="d-block custom-input-label">عنوان</label>
                    <input asp-for="Title" type="text" class="custom-input">
                    <span class="text-danger mt-2 d-block" asp-validation-for="Title"></span>
                </div>
            </div>
            <div class="row">
                @{
                    if (Model.UnitPriceType == UnitPriceType.m2)
                    {
                        <div class="col-12 col-md-6 custom-input-group">
                            <label asp-for="OrderDetailsUnitPrice.Width" class="d-block custom-input-label">طول (سانتی متر)</label>
                            <input asp-for="OrderDetailsUnitPrice.Width" type="number" class="custom-input unit-price-input" data-unit-price="@Model.UnitPrice" data-unit-price-type="@((int)Model.UnitPriceType)">
                        </div>
                        <div class="col-12 col-md-6 custom-input-group">
                            <label asp-for="OrderDetailsUnitPrice.Height" class="d-block custom-input-label">ارتفاع (سانتی متر)</label>
                            <input asp-for="OrderDetailsUnitPrice.Height" type="number" class="custom-input unit-price-input" data-unit-price="@Model.UnitPrice" data-unit-price-type="@((int)Model.UnitPriceType)">
                        </div>
                    }
                    else if (Model.UnitPriceType == UnitPriceType.kg)
                    {
                        <div class="col-12 col-md-6 custom-input-group">
                            <label asp-for="OrderDetailsUnitPrice.Weight" class="d-block custom-input-label">وزن (گرم)</label>
                            <input asp-for="OrderDetailsUnitPrice.Weight" type="number" class="custom-input unit-price-input" data-unit-price="@Model.UnitPrice" data-unit-price-type="@((int)Model.UnitPriceType)">
                        </div>
                    }
                    else if (Model.UnitPriceType == UnitPriceType.qty)
                    {
                        <div class="col-12 col-md-6 custom-input-group">
                            <label asp-for="OrderDetailsUnitPrice.Qty" class="d-block custom-input-label">تعداد</label>
                            <input asp-for="OrderDetailsUnitPrice.Qty" type="number" class="custom-input unit-price-input" data-unit-price="@Model.UnitPrice" data-unit-price-type="@((int)Model.UnitPriceType)">
                        </div>
                    }
                }
            </div>
            @if (Model.SpecificationOrderGroups.Count > 0)
            {
                int index = 0;
                foreach (var specificationOrderGroup in Model.SpecificationOrderGroups)
                {
                    <h3 class="order-form-title">@specificationOrderGroup.Title</h3>
                    @if (specificationOrderGroup.SpecificationOrderTitles.Count > 0)
                    {
                        <div class="row">
                            @foreach (var specificationOrderTitle in specificationOrderGroup.SpecificationOrderTitles)
                            {
                                <div class="col-12 @specificationOrderTitle.Size custom-input-group">
                                    <input type="hidden" asp-for="SpecificationOrderValues[index].SpecificationOrderTitleId" value="@specificationOrderTitle.Id">
                                    <label asp-for="SpecificationOrderValues[index].Value" class="d-block custom-input-label">@specificationOrderTitle.Title</label>
                                    <input asp-for="SpecificationOrderValues[index].Value" type="text" class="custom-input">
                                    <span class="input-info-text">@specificationOrderTitle.ShortDescription</span>
                                    <span class="text-danger mt-2 d-block" asp-validation-for="SpecificationOrderValues[index].Value"></span>
                                </div>
                                index++;
                            }
                        </div>
                    }
                }
            }
            <h3 class="order-form-title">سایر اطلاعات</h3>
            <div class="row">
                <div class="col-12 custom-input-group">
                    <label asp-for="Description" for="#" class="d-block custom-input-label">توضیحات</label>
                    <textarea asp-for="Description" type="text" class="custom-input mb-3"></textarea>
                </div>
                <div class="col-12 custom-input-group">
                    <label for="files" class="custom-file-label">تصاویر طراحی</label>
                    <input asp-for="CustomerImages" type="file" id="files" class="d-none customer-design-file-input" multiple
                           accept="image/*">
                    <span class="input-info-text">
                        مشتری گرامی در صورتی که نیاز به طراحی ندارید و طرح خاصی مدنظر
                        شماست، لطفا تصاویر مربوط به طراحی را ارسال کنید. در غیر این صورت از تغییر این گزینه صرف نظر
                        کنید و طراحی نیز برای شما انجام می شود.
                    </span>
                </div>
                <div class="col-12 mt-4 custom-input-group">
                    <div class="d-flex justify-content-start align-items-center flex-wrap gap-2 customer-design-image-container"></div>
                </div>
                <div class="col-12">
                    <div class="d-flex justify-content-end">
                        <div>
                            <span class="text-secondary d-block w-100 mb-2">مبلغ قابل پرداخت</span>
                            <span id="total-design-price" class="fw-bold d-block w-100">0 تومان</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <input type="submit" value="افزودن به سبد خرید" class="button order-form-submit">
            </div>
        </form>
    </div>
</section>
<!-- End Order Form -->
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}