@model ICollection<GetSiteNotificationVM>

<div class="container my-5 pt-2">
    <h5 class="fw-bold my-4">مدیریت اعلان ها</h5>
    <div class="row mb-4">
        <div class="col-9 d-flex align-items-center">
            <span class="d-block text-start fw-bold">لیست اعلان ها</span>
        </div>
        <div class="col-3 text-end">
            <a asp-area="Admins" asp-controller="SiteNotifications" asp-action="Add" class="btn btn-outline-primary btn-sm">افزودن اعلان جدید</a>
        </div>
    </div>
    <table class="table table-hover table-striped table-responsive-md align-middle">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">تصویر</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Count > 0)
                {
                    int index = 1;
                    foreach (var siteNotification in Model)
                    {
                        <tr>
                            <th scope="row">@index</th>
                            <td><div style="background-image: url('@siteNotification.ImageUrl'); background-size: cover; background-position: 50% 50%; height: 40px;" class="rounded rounded-3"></div></td>
                            <td class="text-end">
                                <div class="dropdown">
                                    <a class="btn btn-primary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" asp-area="Admins" asp-controller="SiteNotifications" asp-action="Edit" asp-route-id="@siteNotification.Id">ویرایش اعلان</a></li>
                                        @if (!siteNotification.IsDefault)
                                        {
                                            <li><a class="dropdown-item" asp-area="Admins" asp-controller="SiteNotifications" asp-action="SaveAsDefault" asp-route-id="@siteNotification.Id">ذخیره به عنوان پیش فرض</a></li>
                                        }
                                        <li><a class="dropdown-item text-danger" asp-area="Admins" asp-controller="SiteNotifications" asp-action="Delete" asp-route-id="@siteNotification.Id">حذف اعلان</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        index++;
                    }
                }
                else
                {
                    <tr>
                        <td class="fw-bold text-primary text-center" colspan="3">هیچ اعلانی اضافه نشده است.</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>