@using Chapkhone.DataAccess.Services.UnitOfWork
@inject IUnitOfWork UnitOfWork
@model Order

@section Styles {
<link rel="stylesheet" href="~/css/profile-dashboard.css">
<link rel="stylesheet" href="~/css/profile-shopping-cart.css">
}

<div class="flex-grow-1">
    <h3 class="section-header mt-0 mb-5">سبد خرید</h3>
    @if (!string.IsNullOrEmpty(ViewBag.PaymentStatus))
    {
        <span class="mb-3 d-block text-danger fw-bold">@ViewBag.PaymentStatus</span>
    }
    @if (Model != null)
    {
        <div class="row">
            <div class="col-5 col-md-2 user-info-wrap">
                <span class="user-info-text">مبلغ کل</span>
                <span class="user-info-value">@Model.TotalPrice.ToString("N0") تومان</span>
            </div>
            <div class="col-5 col-md-2 user-info-wrap">
                <span class="user-info-text">تخفیف</span>
                <span class="user-info-value">@Model.TotalDiscount.ToString("N0") تومان</span>
            </div>
            <div class="col-5 col-md-2 user-info-wrap">
                <span class="user-info-text">مبلغ قابل پرداخت</span>
                <span class="user-info-value">@Model.FinalPrice.ToString("N0") تومان</span>
            </div>
        </div>
        <ul class="shopping-cart-list">
            @if (Model.SpecificationOrders.Any())
            {
                @foreach (var specificationOrder in Model.SpecificationOrders)
                {
                    var product = await UnitOfWork.Products.FindAsync(specificationOrder.ProductId);
                    var designGroup = await UnitOfWork.DesignGroups.FindAsync(specificationOrder.DesignGroupId);
                    <li class="shopping-cart-item">
                        <div class="product-image-wrap">
                            <img src="@(product?.ProductImages?.FirstOrDefault().ImageUrl ?? Model.DefaultImageUrl)" alt="@(product?.Title ?? specificationOrder.Title)">
                        </div>
                        <div class="flex-grow-1">
                            <h3 class="product-title">@(product?.Title ?? specificationOrder.Title)</h3>
                            <div class="d-none d-md-block">
                                <div class="row">
                                    <div class="col-2 user-info-wrap mb-0">
                                        <span class="user-info-text">تعداد</span>
                                        <span class="user-info-value">@specificationOrder.Qty</span>
                                    </div>
                                    @if (designGroup.UnitPriceType == UnitPriceType.m2)
                                    {
                                        <div class="col-2 user-info-wrap mb-0">
                                            <span class="user-info-text">طول</span>
                                            <span class="user-info-value">@specificationOrder.Width cm</span>
                                        </div>
                                        <div class="col-2 user-info-wrap mb-0">
                                            <span class="user-info-text">ارتفاع</span>
                                            <span class="user-info-value">@specificationOrder.Height cm</span>
                                        </div>
                                    }
                                    @if (designGroup.UnitPriceType == UnitPriceType.kg)
                                    {
                                        <div class="col-2 user-info-wrap mb-0">
                                            <span class="user-info-text">وزن</span>
                                            <span class="user-info-value">@specificationOrder.Weight g</span>
                                        </div>
                                    }
                                    <div class="col-2 user-info-wrap mb-0">
                                        <span class="user-info-text">قیمت واحد</span>
                                        <span class="user-info-value">@(product?.Price.ToString("N0") ?? designGroup.UnitPrice.ToString("N0")) تومان</span>
                                    </div>
                                    <div class="col-2 user-info-wrap mb-0">
                                        <span class="user-info-text">تخفیف</span>
                                        <span class="user-info-value">@specificationOrder.TotalDiscount.ToString("N0") تومان</span>
                                    </div>
                                    <div class="col-2 user-info-wrap mb-0">
                                        <span class="user-info-text">قیمت کل</span>
                                        <span class="user-info-value">@specificationOrder.FinalPrice.ToString("N0") تومان</span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-block d-md-none">
                                <div class="row">
                                    <div class="col-4 user-info-wrap mb-0">
                                        <span class="user-info-text">تعداد</span>
                                    </div>
                                    <div class="col-8">
                                        <span class="user-info-value">@specificationOrder.Qty</span>
                                    </div>
                                    @if (designGroup.UnitPriceType == UnitPriceType.m2)
                                    {
                                        <div class="col-4 user-info-wrap mb-0">
                                            <span class="user-info-text">طول</span>
                                        </div>
                                        <div class="col-8">
                                            <span class="user-info-value">@specificationOrder.Width cm</span>
                                        </div>
                                        <div class="col-4 user-info-wrap mb-0">
                                            <span class="user-info-text">ارتفاع</span>
                                        </div>
                                        <div class="col-8">
                                            <span class="user-info-value">@specificationOrder.Height cm</span>
                                        </div>
                                    }
                                    @if (designGroup.UnitPriceType == UnitPriceType.kg)
                                    {
                                        <div class="col-4 user-info-wrap mb-0">
                                            <span class="user-info-text">وزن</span>
                                        </div>
                                        <div class="col-8">
                                            <span class="user-info-value">@specificationOrder.Weight g</span>
                                        </div>
                                    }
                                    <div class="col-4 user-info-wrap mb-0">
                                        <span class="user-info-text">قیمت واحد</span>
                                    </div>
                                    <div class="col-8">
                                        <span class="user-info-value">@(product?.Price.ToString("N0") ?? designGroup.UnitPrice.ToString("N0")) تومان</span>
                                    </div>
                                    <div class="col-4 user-info-wrap mb-0">
                                        <span class="user-info-text">تخفیف</span>
                                    </div>
                                    <div class="col-8">
                                        <span class="user-info-value">@specificationOrder.TotalDiscount.ToString("N0") تومان</span>
                                    </div>
                                    <div class="col-4 user-info-wrap mb-0">
                                        <span class="user-info-text">قیمت کل</span>
                                    </div>
                                    <div class="col-8">
                                        <span class="user-info-value">@specificationOrder.FinalPrice.ToString("N0") تومان</span>
                                    </div>
                                </div>
                            </div>
                            <a asp-area="Customers" asp-controller="Account" asp-action="DeleteShoppingCartItem" asp-route-id="@specificationOrder.Id" class="delete-shopping-cart-item">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47.971 47.971"
                         xmlns:v="https://vecta.io/nano">
                                    <path d="M28.228 23.986L47.092 5.122a3 3 0 0 0 0-4.242 3 3 0 0 0-4.242 0L23.986 19.744 5.121.88a3 3 0 0 0-4.242 0 3 3 0 0 0 0 4.242l18.865 18.864L.879 42.85a3 3 0 0 0 0 4.242c.586.585 1.354.878 2.121.878a2.99 2.99 0 0 0 2.121-.879l18.865-18.864L42.85 47.091a2.99 2.99 0 0 0 4.242 0 3 3 0 0 0 0-4.242L28.228 23.986z" />
                                </svg>
                            </a>
                        </div>
                    </li>
                }
            }
        </ul>
        @if (Model.SpecificationOrders.Any())
        {
            <a asp-area="Customers" asp-controller="Account" asp-action="Payment" class="button mt-5">پرداخت</a>
        }
    }
    else
    {
        <span class="d-block text-info fw-bold">سبد خرید شما خالی است.</span>
    }
</div>